/*-----------------*/
/* Criacao de Sites*/
/*-----------------*/

#conteudo{
	background:url(../../img/litoral/bg_centro2.gif) repeat-y;
	float:left;
	margin:0;
	padding:0;
	width:980px;
}
#meio{
	float:left;
	margin:0;
	padding:0 4px 40px 3px;
	width:688px;
}
#meio .banner_criacao{
	float:left;
}
#meio h1{
	background:url(../../img/litoral/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
}#meio h1{
	background:url(../../img/litoral/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
	margin:0 10px 0 0;
}
#meio h1 a{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 0 0 0;
	text-decoration:none;
}
#meio h1 a:hover{
	font:12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 span{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 10px 0 10px;
}
#meio h1 .migalha{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 .migalha:hover{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h2{
	background:url(../../img/litoral/tit_h2.gif) no-repeat;
	font:bold 14px Verdana, Geneva, sans-serif;
	float:left;
	height:22px;
	margin:5px 0 10px 0;
	padding:3px 0 0 16px;
	width:673px;
}
#meio p{
	float:left;
	font:11px Verdana, Geneva, sans-serif;
	line-height:250%;
	margin:10px 0 0 10px;
}
#meio p a{
	color:#000000;
	font:bold 11px Verdana, Geneva, sans-serif;
	text-decoration:none;
}
#meio ul{
	float:left;
	font:11px Verdana, Geneva, sans-serif;
	margin:20px 0 0 0;
	width:679px;
}
#meio ul li{
	float:left;
	font:11px Verdana, Geneva, sans-serif;
	margin:0 0 5px 10px;
	width:649px;
}
#meio .center{
	float:left;
	margin:0;
	text-align:center;
	width:689px;
}
