#conteudo{
	background:url(../../img/bignet/bg_centro2.gif) repeat-y;
	float:left;
	margin:0;
	padding:0;
	width:980px;
}
#meio{
	float:left;
	padding:0 0 40px 0;
	margin:0 4px 0 3px;
	width:688px;
}
#meio .banner_central{
	float:left;
}
#meio h1{
	background:url(../../img/bignet/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
	margin:0 10px 0 0;
}
#meio h1 a{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 0 0 0;
	text-decoration:none;
}
#meio h1 a:hover{
	font:12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 span{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 10px 0 10px;
}
#meio h1 .migalha{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 .migalha:hover{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio .servicosatalho{
	float:left;
	min-height:420px;
	width:692px;
}
#meio .servicosatalho h2{
	background:url(../../img/bignet/bg_utlidades_h3.gif) repeat-x;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	height:26px;
	margin:13px 0 16px 0;
	padding:10px 0 0 0;
	text-align:center;
	width:689px;
}
#meio .servicosatalho a{
	background:url(../../img/bignet/bg_servicos.gif) repeat-x;
	border-bottom:2px solid #ffffff;
	border-right:2px solid #ffffff;
	color:#000000;
	float:left;
	height:72px;
	margin:0;
	padding:0;
	text-decoration:none;
	width:344px;
}
#meio .servicosatalho .border0{
	border-left:none;
	width:343px;
}
#meio .servicosatalho a:hover{
	background:url(../../img/bignet/bg_servicos_hover.gif) repeat-x;
}
#meio .servicosatalho a img{
	float:left;
	margin:4px 0 0 10px;
}
#meio .servicosatalho a b{
	cursor:pointer;
	float:left;
	margin:15px 0 3px 10px;
	width:250px;
}
#meio .servicosatalho a p{
	color:#000;
	cursor:pointer;
	float:left;
	font:9px Verdana, Geneva, sans-serif;
	margin:0 0 0 10px;
	width:250px;
}