/*---------------------
 central do assinante
---------------------*/
#conteudo{
	background:url(../../img/bignet/bg_centro2.gif) repeat-y;
	float:left;
	margin:0;
	padding:0;
	width:980px;
}
#meio{
	float:left;
	margin:0;
	padding:0 4px 40px 3px;
	width:688px;
}
#meio .banner_central{
	float:left;
}
#meio h1{
	background:url(../../img/bignet/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
	margin:0 10px 0 0;
}
#meio h1 a{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 0 0 0;
	text-decoration:none;
}
#meio h1 a:hover{
	font:12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 span{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 10px 0 10px;
}
#meio h1 .migalha{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 .migalha:hover{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#central_assinante{
	float:left;
	margin:7px 0 0 0;
}
#central_assinante h3{
	color:#656565;
	font:bold 13px Verdana, Geneva, sans-serif;
	margin:40px 0 37px 0;
	text-align:center;
	width:689px;
}
#trocasenha p{
	float:left;
	font:10px Verdana, Geneva, sans-serif;
	line-height:200%;
	margin:10px 15px 20px 15px;
}
#trocasenha .centro{
	background:#f7f7f7;
	border-bottom:solid 2px #e6e6e6;
	border-top:solid 2px #e6e6e6;
	float:left;
	margin:0 0 24px 0;
	padding:15px 0 0 0;
	width:689px;
}
#trocasenha .centro p{
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:10px 0 15px 17px;
}
#trocasenha p a{
	color:#000000;
}
#trocasenha input{
	background:#fff;
	border:1px solid #000;
	height:14px;
	width:270px;
}
#trocasenha #repetir_senha{
	background:#fff;
	border:1px solid #000;
	float:left;
	height:14px;
	width:192px;
}
#trocasenha .centro .btn_contato{
	background:url(../../img/bignet/btn_contato.gif);
	border:none;
	float:left;
	font:bold 10px Verdana, Geneva, sans-serif;
	height:18px;
	margin:0 0 0 6px;
	width:71px;
}
#trocasenha ul{
	float:left;
	list-style:none;
	margin:0 0 0 20px;
	padding:0;
	width:470px;
}
#trocasenha ul li{
	float:left;
	height:20px;
	margin:3px 0 0 0;
	padding:0;
	width:470px;
}
#trocasenha .erros{
	color:#ff0000;
	float:left;
	font:10px Verdana, Geneva, sans-serif;
	margin:10px 0 15px 0;
	padding:0 0 0 212px;
}
#trocasenha ul li label{
	float:left;
	font:10px Verdana, Geneva, sans-serif;
	padding:3px 10px 0 23px;
	text-align:right;
	width:160px;
}
#trocasenha .centro img{
	float:left;
	margin:12px 40px 0 0;

}