/*-----------------*/
/* Criacao de Sites*/
/*-----------------*/

#conteudo{
	background:url(../../img/bignet/bg_centro2.gif) repeat-y;
	float:left;
	margin:0;
	padding:0;
	width:980px;
}
#meio{
	float:left;
	margin:0;
	padding:0 4px 40px 3px;
	width:688px;
}
#meio .banner_criacao{
	float:left;
}
#meio h1{
	background:url(../../img/bignet/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
}#meio h1{
	background:url(../../img/bignet/bg_tit_internas.gif) repeat-x;
	float:left;
	height:29px;
	margin:4px 0 0 0;
	width:689px;
}
#meio h1 img{
	float:left;
	margin:0 10px 0 0;
}
#meio h1 a{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 0 0 0;
	text-decoration:none;
}
#meio h1 a:hover{
	font:12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 span{
	color:#ffffff;
	float:left;
	font:12px Verdana, Geneva, sans-serif;
	margin:4px 10px 0 10px;
}
#meio h1 .migalha{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h1 .migalha:hover{
	font:bold 12px Verdana, Geneva, sans-serif;
	text-decoration:underline;
}
#meio h2{
	background:url(../../img/bignet/tit_h2.gif) no-repeat;
	font:bold 14px Verdana, Geneva, sans-serif;
	float:left;
	height:22px;
	margin:5px 0 10px 0;
	padding:3px 0 0 16px;
	width:673px;
}
#meio p{
	float:left;
	font:11px Verdana, Geneva, sans-serif;
	line-height:250%;
	margin:20px 0 0 10px;
}
#meio p a{
	color:#000000;
	font:bold 11px Verdana, Geneva, sans-serif;
	text-decoration:none;
}
#meio ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	width:688px;
}
#meio ul li{
	margin:3px 0 0 0;
	padding:0;
}
#meio ul li label{
	float:left;
	font:10px Verdana, Geneva, sans-serif;
	padding:0 10px 0 23px;
	text-align:right;
	width:190px;
}
#nome, #empresa, #email, #telefone{
	border:1px solid #a8a8a8;
	width:304px;
}
#mensagem{
	border:1px solid #a8a8a8;
	height:90px;
	width:304px;
}
#meio .btn_criacao{
	background:url(../../img/bignet/btn_contato.gif);
	border:none;
	font:bold 10px Verdana, Geneva, sans-serif;
	height:18px;
	margin:10px 0 0;
	width:71px;
}
.form{
	float:left;
	padding:30px 0 40px 0;
}
